<div class="card">
    <div class="card-header">
        <p class="h3">Categories </p>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex rounded justify-content-between align-items-center border-0 {{ app.request.get('_route') == 'articles' ? 'active':'' }}">
                <a class="font-weight-bold" href="{{ path('articles') }} ">Tout</a>
            </li>
            {% for item in category %}
            <li
                class="list-group-item d-flex rounded justify-content-between align-items-center border-0 {{ app.request.get('categorieTitle') == item.title|lower|replace({' ' : '-'}) ? 'active':'' }}">
                <a class="font-weight-bold"
                    href="{{ path('articles_categorie',{categorieTitle: item.title|lower|replace({' ' : '-'}) }) }}">{{ item.title
                    }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>