{% extends "base.html.twig" %}
{% import "macros/search.html.twig" as search %}

{% block title %}Nos articles{% endblock %}

{% block body %}
<style type="text/css">
    body {
        margin: 0;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5385;
        color: #333;
        text-align: left;
        background-color: #2196F3
    }

    .mt-50 {
        margin-top: 50px
    }

    .mb-50 {
        margin-bottom: 50px
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .1875rem
    }

    .card-img-actions {
        position: relative
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        text-align: center
    }

    .card-img {
        width: 350px
    }

    .star {
        color: red
    }

    .bg-cart {
        background-color: orange;
        color: #fff
    }

    .bg-cart:hover {
        color: #fff
    }

    .bg-buy {
        background-color: green;
        color: #fff;
        padding-right: 29px
    }

    .bg-buy:hover {
        color: #fff
    }

    /* .list-group .active{
    background:red;
    color:#000!important;
} */
    a {
        text-decoration: none !important
    }

    .content {
        background-color: white;
    }
    /*Filtre start */
    .filtre.active{
        color: #007bff;
        font-weight: bold;
        position: relative; 
      }
    /*Filtre end */
</style>
{{ search.search(form) }}
<div class="row">
    <div class="col-lg-3">
        {% include "main/article/_category.html.twig" %}
    </div>
    <div class="col-lg-9">
        <div id="filtres">
            <h3>Filtres</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 col-6">
                            <ul>
                                {% for item in filtres.filtres.part1 %}
                                <li>
                                    <a href="?minPrice={{item.min}}&maxPrice={{item.max}}" 
                                    class="filtre {{ ( (app.request.get('minPrice') == item.min) and (app.request.get('maxPrice') ==  item.max)  )? 'active':'' }}">{{item.min|number_format(0,'2',' ')}} à {{item.max|number_format(0,'2',' ')}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6 col-6">
                            <ul class="list-group">
                                {% for item in filtres.filtres.part2 %}
                                <li>
                                    <a href="?minPrice={{item.min}}&maxPrice={{item.max}}" 
                                    class="filtre {{ ( (app.request.get('minPrice') == item.min) and (app.request.get('maxPrice') ==  item.max)  )? 'active':'' }}">{{item.min|number_format(0,'2',' ')}} à {{item.max|number_format(0,'2',' ')}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <p>Personaliser le filtre</p>
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="form-row align-items-end">
                                    <div class="col-6">
                                        <div class="form-group"><input type="number" id="minPrice" name="minPrice"
                                                placeholder="Minimum budget" min="0" class="form-control" value=""></div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group"><input type="number" min="0" id="maxPrice" name="maxPrice"
                                                placeholder="Maximum budget" class="form-control" value=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <button class="btn btn-primary">{{'Appliquer'|trans}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h3> {{ (app.request.get('_route') == 'articles_categorie') ? app.request.get('categorieTitle')|capitalize|replace({'-' : ' '}) : 'Tout' }} 
            : {{ articles.getTotalItemCount }} resultat{% if
            articles.getTotalItemCount > 0 %}s{% endif %} </h3>
        {% if articles is empty() %}
        <div class="alert alert-info text-center">
            <p>Aucun résulat associé à la recherche:</p>
        </div>
        {% endif %}
        <div class="pagination">
            {{ knp_pagination_render(articles) }}
        </div>
        <div class="row">
            {% for item in articles %}
            <div class="col-md-4 mt-2">
                {% include "main/article/_article.html.twig" %}
            </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(articles) }}
    </div>
</div>

{% endblock %}