<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{{ app_name }} Sénégal - Boutique de vente en ligne {% endblock %} - {{ app_name }}
    </title>
    <meta name="keywords" content="Boutique Dakar Sénégal">
    <meta name="description" content="{{ app_name }} - Boutique de vente en ligne">
    <meta name="{{author}}" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/icons/apple-touch-icon.png') }}">
    {#
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon.ico') }}"> #}
    {#
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/icons/favicon-16x16.png') }}"> #}
    <link rel="manifest" href="{{ asset('assets/images/icons/site.html') }}">
    <link rel="mask-icon" href="{{ asset('assets/images/icons/safari-pinned-tab.svg') }}" color="#666666">
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="{{ app_name }}">
    <meta name="application-name" content="{{ app_name }}">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{{ asset('assets/images/icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet"
        href="{{ asset('assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css') }}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/jquery.countdown.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/all.min.css') }}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/skins/skin-demo-9.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/demos/demo-9.css') }}">
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
</head>
<style>
    .logo img {
        width: 40px;
        border-radius: 15px;
    }

    .loader-app img {
        border-radius: 15px;
    }

    .logo span {
        margin-left: 3px;
        font-size: 18px;
        font-weight: bold;
    }
</style>

<body>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="dev-nav">
        <div class="container">
            <ul>
                <li>Tableau de bord
                    <a href="{{ path('admin') }}">Tableau de bord</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    <div id="loader-app">
        <div class="loader-app">
            <img width="40%" src="{{ asset('img/' ~ site.path_logo) }}" class="d-block mx-auto" alt="">
            {{'Loading'|trans}}...
            {# chargement... #}
        </div>
    </div>
    <div class="js-loader js-loader-hide">
        <div class="text-center js-loader-content">
            <div class="spinner-border d-inline-block" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="js-loader-text">Chargement...</p>
        </div>
    </div>
    <div class="page-wrapper">
        <header class="header header-6 pb-1">
            <div class="header-top">
                <div class="container py-1">
                    <div class="header-left">
                        <ul class="top-menu top-link-menu d-none d-md-block">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:{{ site.tel_1 }}"><i class="icon-phone"></i>Call:
                                            +{{ site.tel_1|phone_format}}</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="social-icons social-icons-color">
                            {% if site.facebook is defined %}
                            <a href="{{ site.facebook }}" class="social-icon social-facebook" title="Facebook"
                                target="_blank"><i class="icon-facebook-f"></i></a>
                            {% endif %}
                            {% if site.twitter is defined %}
                            <a href="{{ site.twitter }}" class="social-icon social-twitter" title="Twitter"
                                target="_blank"><i class="icon-twitter"></i></a>
                            {% endif %}
                            {% if site.instagram is defined %}
                            <a href="{{ site.instagram }}" class="social-icon social-instagram" title="Pinterest"
                                target="_blank"><i class="icon-instagram"></i></a>
                            {% endif %}
                            {% if site.pinterest is defined %}
                            <a href="{{ site.pinterest }}" class="social-icon social-pinterest" title="Instagram"
                                target="_blank"><i class="icon-pinterest-p"></i></a>
                            {% endif %}
                        </div><!-- End .soial-icons -->
                        <ul class="top-menu top-link-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    {% if not is_granted('ROLE_CLIENT') %}
                                    <li>
                                        <a href="#signin-modal" data-toggle="modal">
                                            Identifiez-vous / Créer un compte</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="{{ path('articles') }}" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="mots" id="mots"
                                        placeholder="{{'Search product'|trans}} ..."
                                        value="{{ app.request.get('mots') }}" required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="/" class="logo">
                            <img src="{{ asset('img/' ~ site.path_logo ) }}" alt="{{ app_name }} Logo" width="82"
                                height="20"> <span>
                                {{ app_name}}
                            </span>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="wishlist">
                            {% include base ~ "/favoris/ajax/wishlist.html.twig" %}
                        </div>

                        <div class="dropdown cart-dropdown js-cart-load">
                            {% include "includes/cart/_load.html.twig" %}
                            <!-- End .dropdown-menu -->
                        </div>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li {{ app.request.get( '_route' )=='home' ? 'class="active"' : '' }}>
                                    <a href="{{ path('home') }}">{{'Home'|trans}}</a>
                                </li>
                                <li {{ ( app.request.get( '_route' )=='articles' or app.request.get( '_route'
                                    )=='articles_category' ) ? 'class="active"' : '' }}>
                                    <a href="{{ path('articles') }}">{{'Shop'|trans}}</a>
                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="menu-title">Magasinez</div>
                                                            <!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="{{path('articles') }}">Tous les
                                                                        produits</a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            <div class="menu-title">Catégorie de produit </div>
                                                            <!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Produit Africain</a></li>
                                                                <li><a href="#">
                                                                        <span>
                                                                            Wax
                                                                            <span class="tip tip-new">New</span>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li><a href="#">Divers</a></li>
                                                            </ul>
                                                            <div class="menu-title">Pages de la boutique</div>
                                                            <!-- End .menu-title -->
                                                            <ul>
                                                                <li>
                                                                    <a href="{{ path('cart_index') }}">{{'Cart'|trans}}</a>
                                                                </li>
                                                                {% if is_granted('ROLE_CLIENT') %}
                                                                <li>
                                                                    <a href="{{ path('favoris_index') }}">{{'My
                                                                        Wishlist'|trans}}</a>
                                                                </li>
                                                                {% endif %}
                                                                {% if not is_granted('ROLE_CLIENT') %}
                                                                <li>
                                                                    <a href="{{ path('app_register') }}">{{'Sign In'|trans}}</a>
                                                                </li>
                                                                {% endif %}
                                                                <li>
                                                                    <a href="{{ path('track_index') }}">{{'Track My
                                                                        Order'|trans}}</a>
                                                                </li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="#" class="banner banner-menu">
                                                        <img src="https://via.placeholder.com/218x314" alt="Banner">

                                                        <div class="banner-content banner-content-top">
                                                            <div class="banner-title text-white">Last
                                                                <br>Chance<br><span><strong>Sale</strong></span>
                                                            </div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>
                                <li {{ app.request.get( '_route' )=='contact' ? 'class="active"' : '' }}>
                                    <a href="{{ path('contact') }}">{{'Contact'|trans}}</a>
                                </li>

                                <li>
                                    <a href="{{ path('about') }}">About</a>
                                </li>
                                {% if is_granted('ROLE_CLIENT') %}
                                <li class="">
                                    <a href="#" class="sf-with-ul">
                                        <i class="fas fa-user-circle fa-1x"></i> {{app.user.fullName}}
                                    </a>
                                    <ul style="display: none;">
                                        <li>
                                            <a href="{{ path('client_index') }}">{{'Dashboard'|trans}}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('client_index',{tab:'orders'}) }}">Commande</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('client_index',{tab:'buy'}) }}">Mes achats</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('client_index',{tab:'details'}) }}">Details du
                                                compte</a>
                                        </li>
                                        <li>
                                            <a id="btn-logout" href="#">{{'Log out'|trans}}</a>
                                        </li>

                                    </ul>
                                </li>
                                {% endif %}
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i>
                        <p>Votre boutique mode Africaine</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        {% block main %} {% endblock %}

        {% block footer %}
        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="{{ asset('img/soaisha-boutik.png') }}" class="footer-logo" alt="Footer Logo"
                                    width="82" height="25">
                                <p>{{ site.desc }} </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">{{'Got Question? Call us'|trans}}
                                                24/7</span>
                                            <a href="tel:123456789"><a href="tel:{{ site.tel_1}}">+{{
                                                    site.tel_1|phone_format }}</a></a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="{{ asset('assets/images/payments.png') }}"
                                                    alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="{{ path('about') }}">About {{app_name }}</a></li>
                                    <li><a href="#">How to shop on {{ app_name }}</a></li>
                                    <li><a href="{{ path('faq') }}">FAQ</a></li>
                                    <li><a href="{{ path('contact') }}">Contact us</a></li>
                                    {% if not is_granted('ROLE_CLIENT') %}
                                    <li><a href="{{ path('app_login') }}">Log in</a></li>
                                    {% endif %}
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">{{'Customer'}}</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    {% if is_granted('ROLE_CLIENT') %}
                                    <li>
                                        <a href="{{ path('client_index') }}">{{'Dashboard'|trans}}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('client_index',{tab:'orders'}) }}">
                                            {{'Orders'|trans}}
                                            {# Commande #}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('client_index',{tab:'buy'}) }}">
                                            {{'my purchases'|trans}}
                                            {# Mes achats #}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('client_index',{tab:'details'}) }}">
                                            {{'Account details'|trans}}
                                            {# Details du compte #}
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a target="_blank" href="{{ path('conditions') }}">
                                            {{'Terms and conditions'|trans}}</a>
                                    </li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    {% if not is_granted('ROLE_CLIENT') %}
                                    <li>
                                        <a href="{{ path('app_register') }}">{{'Sign In'|trans}}</a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('cart_index') }}">{{'View Cart'|trans}}</a>
                                    </li>
                                    {% if is_granted('ROLE_CLIENT') %}
                                    <li>
                                        <a href="{{ path('favoris_index') }}">{{'My Wishlist'|trans}}</a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('track_index') }}">{{'Track My Order'|trans}}</a>
                                    </li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © <span id="year"></span> {{app_name }} Store. All Rights
                        Reserved.</p>
                    <!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="{{ path('conditions') }}">Terms Of Use</a></li>
                        {# <li><a href="#">Privacy Policy</a></li> #}
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        {% if site.facebook is defined %}
                        <a href="{{ site.facebook }}" class="social-icon social-facebook" title="Facebook"
                            target="_blank">
                            <i class="icon-facebook-f"></i>
                        </a>
                        {% endif %}
                        {% if site.whatsapp is defined %}
                        <a href="{{ site.facebook }}" class="social-icon social-whatsapp" title="Whatsapp"
                            target="_blank">
                            <i class="icon-whatsapp"></i>
                            {# <i class="fa fa-whatsapp" aria-hidden="true"></i> #}
                        </a>
                        {% endif %}
                        {% if site.twitter is defined %}
                        <a href="{{ site.twitter}}" class="social-icon social-twitter" title="Twitter" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                        {% endif %}
                        {% if site.instagram is defined %}
                        <a href="{{ site.instagram }}" class="social-icon social-instagram" title="Instagram"
                            target="_blank">
                            <i class="icon-instagram"></i>
                        </a>
                        {% endif %}
                        {% if site.youtube is defined %}
                        <a href="{{ site.youtube }}" class="social-icon social-youtube" title="Youtube" target="_blank">
                            <i class="icon-youtube"></i>
                        </a>
                        {% endif %}
                        {% if site.pinterest is defined %}
                        <a href="{{ site.pinterest }}" class="social-icon social-pinterest" title="Pinterest"
                            target="_blank">
                            <i class="icon-pinterest"></i>
                        </a>
                        {% endif %}
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
        {% endblock %}
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="{{ path('articles') }}" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">{{'Search'|trans}}</label>

                <input type="search" class="form-control" value="{{ app.request.get('mots') }}" name="mots"
                    id="mobile-search" placeholder="Search in..." required="">
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">{{'Home'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('articles') }}">{{'Shop'|trans}}<span class="mmenu-btn"></span></a>
                        <ul>
                            <li><a href="{{ path('articles_cols',{cols:'list'}) }}">{{'Shop List'|trans}}</a></li>
                            <li><a href="{{ path('articles_cols',{cols:'2cols'}) }}">Shop Grid 2 Columns</a></li>
                            <li><a href="{{ path('articles_cols',{cols:'3cols'}) }}">Shop Grid 3 Columns</a></li>
                            <li><a href="{{ path('articles_cols',{cols:'4cols'}) }}">Shop Grid 4 Columns</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages<span class="mmenu-btn"></span></a>
                        <ul>
                            <li>
                                <a href="{{ path('about') }}">About</a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">Contact</a>
                            </li>
                            {% if not is_granted('ROLE_CLIENT') %}
                            <li><a href="{{ path('app_login') }}">Login</a></li>
                            {% endif %}
                            <li><a href="{{ path('faq') }}">FAQs</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                {% if site.facebook is defined %}
                <a href="{{ site.facebook }}" class="social-icon" target="_blank" title="Facebook"><i
                        class="icon-facebook-f"></i></a>
                {% endif %}
                {% if site.twitter is defined %}
                <a href="{{ site.twitter }}" class="social-icon" target="_blank" title="Twitter"><i
                        class="icon-twitter"></i></a>
                {% endif %}
                {% if site.instagram is defined %}
                <a href="{{ site.instagram }}" class="social-icon" target="_blank" title="Instagram"><i
                        class="icon-instagram"></i></a>
                {% endif %}
                {% if site.youtube is defined %}
                <a href="{{ site.youtube }}" class="social-icon" target="_blank" title="Youtube"><i
                        class="icon-youtube"></i></a>
                {% endif %}
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div>
    {% block modal %}{% endblock %}
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="icon-close"></i>
                        </span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">{{'Sign In'|trans}}</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="{{ path('app_login') }}" method="post">
                                        <div class="form-group">
                                            <label for="singin-email">{{'Username or email address'|trans}} *</label>
                                            <input type="email"
                                                value="{{ last_username is defined ? last_username:'' }}" name="email"
                                                id="inputEmail" placeholder="email" class="form-control"
                                                autocomplete="email" required autofocus>
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">{{'Password'|trans}} *</label>
                                            <input type="password" name="password" id="inputPassword"
                                                placeholder="{{'password'|trans}}" class="form-control"
                                                autocomplete="current-password" required>
                                            <input type="hidden" name="_csrf_token"
                                                value="{{ csrf_token('authenticate') }}">
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>{{'LOG IN'|trans}}</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            {% include 'includes/google/google_login.html.twig' %}
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">
                                                    {{'Remember Me'|trans}}</label>
                                            </div>
                                            <!-- End .custom-checkbox -->
                                            <a href="{{ path('app_forgot_password_request') }}"
                                                class="forgot-link">{{'Forgot Your Password'|trans}}?</a>
                                        </div>
                                        <div class="text-center">
                                            <a href="{{ path('app_register') }}"
                                                class="btn btn-outline-primary-2 mx-auto">
                                                {{'Create an account'|trans}}
                                            </a>
                                        </div>
                                        <!-- End .form-footer -->
                                    </form>
                                    {# <div class="form-choice">
                                        <p class="text-center">{{'or sign in with'|trans}}</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="{{ path('connect_google') }}" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i> {{'Login With Google'|trans}}
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i> {{'Login With Facebook'|trans}}
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div> #}
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    {# {% include "registration/_form.html.twig" %} #}
                                    <form name="registration_form" method="post" action="/register"
                                        novalidate="novalidate">

                                        <div class="form-group">
                                            <label for="registration_form_personne_firstName" class="required">{{'First
                                                name'|trans}}
                                                *</label><input type="text" id="registration_form_personne_firstName"
                                                name="registration_form[personne][firstName]" required="required"
                                                placeholder="{{'First name'|trans}}" class="form-control" value="">
                                        </div>
                                        <div class="form-group">
                                            <label for="registration_form_personne_lastName" class="required">{{'Last
                                                name'|trans}}
                                                *</label><input type="text" id="registration_form_personne_lastName"
                                                name="registration_form[personne][lastName]" required="required"
                                                placeholder="Nom" class="form-control" value="Tounkara">
                                        </div>
                                        <div class="form-group">
                                            <label for="registration_form_email" class="required">
                                                Email *
                                            </label><input type="email" id="registration_form_email"
                                                name="registration_form[email]" required="required"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="registration_form_phone_number" class="required">
                                                {{'Phone number'|trans}}
                                                Numéro det téléphone
                                                *
                                            </label><input type="text" id="registration_form_phone_number"
                                                name="registration_form[phone_number]" required="required"
                                                placeholder="Numéro de téléphone" value="781278288"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="registration_form_password" class="required">
                                                {{'Password'}} *
                                            </label><input type="password" id="registration_form_password"
                                                name="registration_form[password]" required="required"
                                                autocomplete="new-password" placeholder="Mot de passe"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input type="checkbox" id="registration_form_agreeTerms"
                                                    name="registration_form[agreeTerms]" required="required"
                                                    class="form-check-input" value="1">
                                                <label class="form-check-label required"
                                                    for="registration_form_agreeTerms">
                                                    {{'I accept the user conditions'|trans}}
                                                    {# J'acceptes les conditions d'utilisateurs #}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>{{'SIGN UP'|trans}}</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div>
                                        <div id="registration_form"><input type="hidden" id="registration_form__token"
                                                name="registration_form[_token]"
                                                value="{{ csrf_token('registration') }}">
                                        </div>
                                        <!-- End .form-footer -->
                                        <div class="form-choice">
                                            <p class="text-center">{{'or sign in with'|trans}}</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i> {{'Login With Google'|trans}}
                                                    </a>
                                                </div>
                                                <!-- End .col-6 -->
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login  btn-f">
                                                        <i class="icon-facebook-f"></i> {{'Login With Facebook'|trans}}
                                                    </a>
                                                </div>
                                                <!-- End .col-6 -->
                                            </div>
                                            <!-- End .row -->
                                        </div>
                                        <!-- End .form-choice -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">{{'or sign in with'|trans}}</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i> {{'Login With Google'|trans}}
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i> {{'Login With Facebook'|trans}}
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                            </div>
                            <!-- End .tab-content -->
                        </div>
                        <!-- End .form-tab -->
                    </div>
                    <!-- End .form-box -->
                </div>
                <!-- End .modal-body -->
            </div>
            <!-- End .modal-content -->
        </div>
        <!-- End .modal-dialog -->
    </div>
    <!-- End .modal -->
    {#
    <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60"
                                height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite
                                products.</p>
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white"
                                        placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup
                                    again</label>
                            </div><!-- End .custom-checkbox -->
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <!-- Plugins JS File -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.hoverIntent.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/js/superfish.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-input-spinner.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.plugin.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
    <!-- sweetalert2 -->
    <script src="{{ asset('vendor/sweetalert2/sweetalert2.all.min.js') }}"></script>
    <script src="{{asset('js/admin.js') }}"></script>
    <!-- Main JS File -->
    <script src="{{ asset('js/article.js') }}"></script>
    <script src="{{ asset('js/store.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/demos/demo-9.js') }}"></script>
    <script src="{{ asset('js/util.js') }}"></script>
    {% block foot %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>


</html>