{% import "macros/etats.html.twig" as etats %}
<table id="datatable_{{id}}" class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Stock</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Étiquettes</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in articles %}
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-3">
                        {% for item in item.images|slice(0,1) %}
                        <img src="{{ asset('img/article/' ~ item.name) }}" width="50px" alt="">
                        {% else %}
                        <img src="{{ asset('img/article/vide.png') }}" width="50px" alt="">
                    {% endfor %}
                    </div>
                    <div class="col-md-9">
                        <a class="c-1" href="{{ path('article_show',{id: item.id} ) }}">
                        {{ item.title}} 
                        </a>
                        <div class="article-action">
                            id:#{{item.id}}
                            <a href="{{ path('article_show',{id: item.id} ) }}">
                            <i class="fa fa-eye text-dark"></i>
                                Afficher
                            </a>
                            |
                            <a href="{{ path('article_edit',{id: item.id} ) }}">
                                        <i class="fas fa-pencil-alt text-success"></i>
                                Modifier
                            </a>
                            |
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('article_new_copy',{id: item.id} ) }}" class=" btn-copy">
                                        <i class="fas fa-copy text-info"></i>
                                        Dupliquer
                            </a>
                            |
                            {% if is_granted("ROLE_ADMIN") %}
                                <form class="d-inline-block" method="post"
                                    action="{{ path('article_delete', {'id': item.id}) }}"
                                    onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                    <i class="fas fa-trash-alt  text-danger "></i>
                                    Corbeille
                                </form>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>    
            </td>
            <td>
            {% if item.quantity > 0 %}
               En Stock
               {% else %}
                En rupture 
            {% endif %}
            </td>
            <td>{{ item.price |number_format(2,' ',' ') ~ site.current_name }}</td>
            <td>{{ item.category.title }}</td>
            <td>
                {{ etats.articleLabel(item.label) }} 
                {{ etats.etat(item.etat) }} 
                    {% if item.reduction > 0 %}
                        <span class="product-label label-out bg-danger">-{{ item.reduction}} %</span> 
                    {% endif %} 
                    {% if item.quantity <= 0 %}
                        <span class="product-label label-out bg-danger">{{'Out of Stock'|trans}}</span>
                    {% endif %}
            </td>
            <td>
                <div class="article-table-date">
                    Dernière modification <br>
                    {{ (item.updatedAt) ? item.updatedAt|date_format_fr : 'Jamais modifié' }}
                </div>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>